@import "./App.css";

.dashboard {
  display: flex;
  height: 100vh;
}

.side-nav {
  width: 20vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* key line */
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: 1rem;
}

.main-selected-section {
  margin-left: 20vw; /* push content right */
  width: 80vw;
  padding: 0rem 1rem .1rem 1rem;
  background-color: var(--primary-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.logo {
  display: flex;
  flex-direction: start;
  width: 100%;
  padding-left: 2rem;
}
.logo img {
  width: 60px;
}
.profile-top {
  background-color: #366e8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 1.5rem;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.275);
}
.profile-top div h4,
.profile-top div p {
    margin: 2px;
    text-align: center;
}
.profile-top div p {
    font-size: 10px;
}
.logout-nav {
  display: flex;
  margin-top: 5rem;
  width: 100%;
  justify-content: center;
}
.logout-nav p {
  color: red;
  font-weight: 600;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.nav-item,
.logout-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  padding: 0.4rem 2.5rem;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item:hover,
.logout-nav:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* highlight the active page */
.nav-item.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  border-left: 5px solid var(--accent-color);
}

